---
title: Venue
theme: t-blue
---
<article class="l-page t-blue">
  <div id="venue" class="l-page__section is-on-top">
    <div class="l-page__main">
      <h2>The conference venue</h2>
{{#markdown}}
  {{{site.venueConference}}}
{{/markdown}}
{{#markdown}}
  {{{site.venueConferenceAddress}}}
{{/markdown}}
    </div>
    <div class="l-page__section-illustration">
      {{> _tower-illustration}}
    </div>
  </div>
  <div class="l-page__section extra-margin">
   <img
    src="{{assets}}/images/duse-s.jpg"
    srcset="
      {{assets}}/images/duse-xl.jpg 1420w,
      {{assets}}/images/duse-l.jpg 1200w,
      {{assets}}/images/duse-m.jpg 1024w
    "
    alt="A view from Teatro Duse"
    class="l-page__image">
   {{> _image-mask}}
  </div>
  <div id="party" class="l-page__section">
    <div class="l-page__main">
      <h2>The party</h2>
{{#markdown}}
  {{{site.venueParty}}}
{{/markdown}}
{{#markdown}}
  {{{site.venuePartyAddress}}}
{{/markdown}}
    </div>
    {{> _dancing-knights}}
  </div>
  <div class="l-page__section">
    {{> _map}}
  </div>
</article>
{{> _tickets modifier="is-ending-module"}}
