<article class="m-speaker m-speaker--extended" id="{{hyphenate (lowercase name) }}">
  <div class="m-speaker__card">
    <header class="m-speaker__header">
      <a href="./speakers/{{hyphenate (lowercase name) }}.html">
        <div class="m-speaker__img {{hyphenate (lowercase name) }}"></div>
      </a>

      <div class="m-speaker__strip">
        <h1 class="m-speaker__name">
          {{name}}
        </h1>
        <a href="http://twitter.com/{{twitter}}" class="m-speaker__twitter">
          @{{twitter}}
        </a>
      </div>
    </header>
    <div class="m-speaker__content">
        <div class="m-speaker-page__text">
{{#markdown}}
{{{bio}}}
{{/markdown}}
        </div>
    </div>
  </div>

  {{#if talk-abstract}}
    <div class="m-speaker__content">
      <section class="m-talk">
        <h2 class="m-talk__title">
          {{talk-title}}
        </h2>
        <p class="m-talk__abstract">
          {{{talk-abstract}}}
        </p>
      </section>
    </div>
  {{/if}}
</article>
