<article class="m-speaker">

  {{#if bio}}<a 
    href="./speakers/{{hyphenate (lowercase name) }}.html">{{/if}}
  
    {{#if img}}
      <img src="./assets/images/{{img}}" alt="A photo of {{name}}" class="m-speaker__img">
    {{else}}
      <img src="./assets/images/{{hyphenate (lowercase name) }}.jpg"alt="A photo of {{name}}" class="m-speaker__img">
    {{/if}}
  {{#if bio}}</a>{{/if}}
  <div class="m-speaker__inner">
    <h2 class="m-speaker__name">
      {{name}}
    </h2>
    {{#if shortinfo}}
    <p class="m-speaker__shortinfo">
      {{shortinfo}}
    </p>
    {{/if}}
    <a href="http://twitter.com/{{twitter}}" class="m-speaker__twitter">
      @{{twitter}}
    </a>
  </div>
</article>
