<!DOCTYPE html>
<html lang="en" class="t-home">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    {{#if production}}
      <link rel="stylesheet" href="{{assets}}/css/app.min.css">
    {{else}}
      <link rel="stylesheet" href="{{assets}}/css/app.css">
    {{/if}}

    {{!-- Typekit async --}}
    <script>
      (function(d) {
        var config = {
          kitId: 'hry1jdo',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    {{> _metatags}}

  </head>
  <body>
    <main id="main" class="l-main" role="main">
      {{> body }}
    </main>
    {{> _footer}}

  {{#if production}}
    <script async src="{{assets}}/js/app.min.js"></script>
  {{else}}
    <script async src="{{assets}}/js/app.js"></script>
  {{/if}}
  </body>
</html>
