---
layout: ./src/templates/layouts/default.hbs
title: <%= name %>
---
<article class="l-page">
  <header class="l-page__header l-page__header">
    <h1 class="l-page__title">
      {{{site.speaker_page_title}}}
    </h1>
  </header>
  <div class="l-page__illustration">
    {{> _cat-illustration}}
  </div>
  <div class="l-page__main l-page__main--large">
    <article class="m-speaker-page">
      <header class="m-speaker-page__header">
        <p class="m-speaker-page__pre-title">
          Introducing
        </p>
        <h1 class="m-speaker-page__title">
          {{name}}
        </h1>
        <a href="http://twitter.com/{{twitter}}" class="m-speaker-page__twitter">@{{twitter}}</a>
      </header>

      <div class="m-speaker-page__main">

        <section class="m-speaker-page__info">
          <div class="m-speaker-page__avatar">
            <div class="m-speaker-page__image" style="background-image: url('{{page.assets}}/images/avatar/{{hyphenate (lowercase name) }}-large.jpg')"></div>
          </div>
          <section class="m-speaker-page__bio">
            <div class="m-speaker-page__text">
{{#markdown}}
{{bio}}
{{/markdown}}
            </div>
          </section>
        </section>

        {{#if talk-abstract}}
        <section class="m-speaker-page__talk">
          <h2 class="m-speaker-page__talk-title">
            {{talk-title}}
          </h2>
          <p class="m-speaker-page__text">
            {{talk-abstract}}
          </p>
        </section>
        {{/if}}
      </div>
      <footer class="m-belt">
        <div class="m-belt__inner">
          <a href="{{relative page.dest "./"}}/index.html#speakers" class="m-belt__action m-belt__action--bold">
            {{site.backtospeakers}}
          </a>
        </div>
      </footer>
    </article>
  </div>
</article>
{{> _separator}}
{{> _tickets}}
